@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');


* {
    /* outline: 1px solid green; */
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

ul, li {
    list-style-type: none;
}

a{
	text-decoration: none;
}

a:link{
    color: #0070D2;
}

a:hover{
	color: #89B0D2;
}

/* 레이아웃 */
#listForm {
    display: grid;
    grid-template-columns: 1fr minmax(320px, 1920px) 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'nv nv nv'
        'l hd r'
        'l mn r'
        'l ft r';
}

.nv-l, .nv-r, .nv {
    grid-area: nv;
    cursor: pointer;
}

.hd {
    grid-area: hd;
}

.mn {
    grid-area: mn;
}

.ft {
    grid-area: ft;
}

 .hd-l, .mn-l, .ft-l {
    grid-area: l;
}
 .hd-r, .mn-r, .ft-r {
    grid-area: r;
}

/* / 레이아웃 */

/* 상단바 */
nav {
    width: 100%;
    height: 31px;
    background-color: #7CA3C6;
    padding: 10px 10px 0 10px;
}


nav h4 {
    box-sizing: border-box;
    color: white;
    cursor: pointer;
}

/* /상단바 */

/* 게시글 타이틀, 검색 */
header {
    display: flex;
    justify-content: space-between;
}

#title {
    display: flex;
    align-items: center;
    margin-left: 3%;
}

#titleIndex {
    width: 10px;
    height: 40px;
    margin: 0 10px;
    background-color: #0070D2;
}

.hd h3{
	cusor: default;
}

.search {
    display: flex;
    margin-right: 4%;
}

.search li {
    display: inline-block;
    line-height: 6;
    margin-left: 10px;
}
.search label {
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 4px;
    color: #2E2E2E;
}

#searchCondition, #boardCd {
    font-size: 0.8rem;
    width: 100px;
    padding: 2px;
    border: 1px solid #DDDBDA;
    border-radius: 4px;
    box-shadow: 0px 1px 0px 0px #DDDBDA;
    
}

.search input {
    box-sizing: border-box;
    width: 361px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.fa-solid.fa-magnifying-glass {
    color: #9B9B9B;
}

/* /게시글 타이틀, 검색 */

/* 글 목록 */
#listTable {
    margin: 0 40px;
    text-align: center;
    border: 2px solid #C4CDD5;
    border-collapse: collapse;
}

#listTable th, tr, td {
   padding: 14px;
   border: 1px solid #C4CDD5;
}

#caption th {
    border-bottom: 2px solid #0070D2;
}

footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

/* 페이징 */
.pagingArea {
	width: 100%;
    display: flex;
    align-items: center;
}
#paging {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 32px;
    text-align: center;
    flex: 8;
    margin-left: 10%;
}
#sysbtn {
	flex: 2;
}
#paging a button {
	cursor: pointer;
}
#paging a img {
    max-width: 32px;
    max-height: 32px;
}
#paging span {
	display: flex;
	align-items: center;
    justify-content: center;
	width: 32px;
    height: 32px;
	border-radius: 8px;
	border: 1px solid #2F80ED;
	background-color: #2F80ED;
}
#paging span strong {
	color: #ffffff;
}
.page-btns{
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid #D5D9DE;
    background-color: #ffffff;
}

/* 작성 버튼 */

#writeBtn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 68px;
    border-radius: 14px;
    border: 1px solid #0070D2;
    background-color: white;
    color: #0070D2;
    font-weight: bold;
    font-size: 0.9rem;
}


